.App {
  text-align: center;
}

body{
  height: 100%;
}

html{
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}
.App-footer {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.content{
  padding-top: 10px;
}

.content-header{
  margin-top: 10px;
  padding-bottom: 10px;
  background-color: #222;
  color: white;
  align-content: center;
  align-items: center;
}

.content-body{
  margin-top: 10px;
  padding-bottom: 10px;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid gray
}

.left{
  float: left;
  text-align: left;
}

.sidebar{
  background-color: lightgray;
  width: 10px;
  height: 150px;
  content: "";
  position: relative;
  float: left;
}

.content-border{
  border: gray solid 2px;
}

.search-box{
  overflow: hidden;
  display: block;
}

.search-input{
  width: 90%;
  padding: 10px;
  border: none;
  float: left;
  outline: none;
}

.checked{
  background-color: crimson;
  color: white;
}

.unchecked{
  background-color: white;
  color: black;
  cursor: pointer;
}

i{
  font-size: xx-large;
  color: gray;
  cursor: pointer;
}


button{
  width: 100%;
  height: 100%;
  padding: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
